.row {
  padding: 0px;
  position: relative;
  clear: both;
  margin: 0px auto;
  padding: 0px;
  max-width: 890px;
  max-height: 350px;
  list-style: none;
  text-align: center;
}

.row .columns {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px #ccc solid;
}
